@font-face {
    font-family: chalk;
    src: url(fonts/blzee.ttf);
}
@font-face{
    font-family: graffiti;
    src: url(fonts/graffiti.ttf);
}

@font-face {
    font-family: write;
    src: url(fonts/BabyDoll.ttf);
}

html {
    background-color: #e1debc;
}
h3{
    font-family: ;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      background-color: #a5cfa8;
    height: 60px;
}

h1{
    font-size: 60px;
    font-family: write;
}
.header{
    display: grid;
     align-items: left; 
     grid-template-columns:1fr 1fr;
column-gap: 1px  
}
.intro {
     display: grid;
     align-items: center; 
     grid-template-columns: 1fr 1fr;
     column-gap: 5px;
}
.coolphoto{
   
}
.introblurb{
    font-size: 52px;
    font-family: write;
    border-radius: 25px;
     background-color: #292929;
    color: #dedede;
}


.menuname{
    font-family: write;
    text-align: center;
    font-size: 70px;
}
h2{
    font-family: write;
}
.menu {
     display: grid;
      align-items: center; 
      grid-template-columns: auto auto auto;
      column-gap: 5px;
     background-color: #f7f3ed;
}
.menu > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.polaroid {
    display: grid;
      align-items: center; 
      grid-template-columns: auto auto;
      column-gap: 5px;
     background-color: #f7f3ed;
}
.polaroid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
button {
    border-color: transparent;
    background-color: transparent;
}
h5{
    font-size: 25px;
    font-family: write;
}